{
  "extends": "airbnb",
  "env": {
    "node": true // Node.js global variables and Node.js-specific rules.
  },
  "rules": {
    "comma-dangle": "off", // disallow trailing commas in object literals
    "prefer-arrow-callback": "off",
    "prefer-template": "off",
    "no-path-concat": "off"
  }
}
